@import "./root.css";

.background-categoriaAdminScreen {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    /*background-color: var(--primary-grass);*/
    background-image: url(../img/pasto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.addBtnCategoria-categoriaAdminScreen {
    background-color: var(--primary-dark);
    color: var(--bg-stadium);
}

.addBtnCategoria-categoriaAdminScreen:hover {
    border-color: var(--text-main);
    color: var(--text-main);
}

.categoriaRow-categoriaAdminScreen {
    background-color: var(--secondary-steel);
    font-size: 16px;
}

@media (width < 768px) {
    .categoriaRow-categoriaAdminScreen {
        font-size: 12px;
    }
}

.background-categoriaAddModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.45);
}

.window-categoriaAddModal {
    background-color: var(--primary-grass);
    animation: animation-categoriaAddModal 0.25s ease;
}

@keyframes animation-categoriaAddModal {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.accept-categoriaAddModal {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--primary-dark);
    color: var(--bg-stadium);
    border-color: transparent;
}

.cancel-categoriaAddModal {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--status-error);
    color: var(--bg-stadium);
    border-color: transparent;
}

.btnEditCategoria {
    color: var(--bg-night-stadium);
    background-color: var(--accent-action);
}

.btnEditCategoria:hover {
    color: var(--accent-action);
    border-color: var(--accent-action);
}

.btnDeleteCategoria {
    color: var(--bg-night-stadium);
    background-color: var(--status-error);
}

.btnDeleteCategoria:hover {
    color: var(--status-error);
    border-color: var(--status-error);
}

.background-categoriaEditModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.45);
}

.window-categoriaEditModal {
    background-color: var(--primary-dark);
    animation: animation-categoriaEditModal 0.25s ease;
    max-width: 900px;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--primary-light) var(--bg-stadium);
    scrollbar-width: thin;
}

@keyframes animation-categoriaEditModal {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.btnSaveEdit-categoriaEditModal {
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--primary-grass);
    color: var(--bg-stadium);
}

.btnCancelEdit-categoriaEditModal {
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    background-color: var(--status-error);
    color: var(--bg-stadium);
}

.background-categoriaDeleteModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.45);
}

.window-categoriaDeleteModal {
    background-color: var(--primary-grass);
    animation: animation-categoriaDeleteModal 0.25s ease;
}

@keyframes animation-categoriaDeleteModal {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.acceptBtn-deleteCategoriaModal {
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--primary-dark);
    color: var(--bg-stadium);
}

.cancelBtn-deleteCategoriaModal {
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    background-color: var(--status-error);
    color: var(--bg-stadium);
}